
.chess-table {
    height: 400px;
    width: 400px;
    display: flex;
    border: 1px solid black;
}
.piece-box {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 8px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece-box.white-box {
    background: white;
}
.piece-box.black-box {
    background: gray;
}

.piece-box.piece-selected {
    background: yellow;
    cursor: pointer;
}
.piece-box.piece-not-allowed {
    background: coral;
}

img.piece {
    width: 40px;    
    height: 40px;
}
.position-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 7px;
    color: #444;
    opacity: 0.4;
}